<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699787459994-mbfhapo8fmsnap2a6nn86f44s5phebjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699787459994-mbfhapo8fmsnap2a6nn86f44s5phebjs</string>
	<key>API_KEY</key>
	<string>AIzaSyDYfnQR8RdR9z7oTZvRg2_ZAAe_v2pIf1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>699787459994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewOlson.MessagesApp</string>
	<key>PROJECT_ID</key>
	<string>messages-2685a</string>
	<key>STORAGE_BUCKET</key>
	<string>messages-2685a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699787459994:ios:300d08cf8c203055</string>
	<key>DATABASE_URL</key>
	<string>https://messages-2685a.firebaseio.com</string>
</dict>
</plist>